{% load static %}
<!DOCTYPE html>
<html>
<title>CV: Lilit M</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{% static 'lilit/images/CeilidhChristmasViolin.jpg' %}" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>Lilit Movsisyan</h2>
          </div>

        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>London, UK</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>lilit.movsisyan.2012@my.bristol.ac.uk</p>
          <p><i class="fa fa-github fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://github.com/lilitmovsisyan">github.com/lilitmovsisyan</a></p>
          <p><i class="fa fa-globe fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://lilit.pythonanywhere.com/">View live projects on lilit.pythonanywhere.com</a></p>

          <a href="{% static 'lilit/CV_Lilit_Movsisyan_2019-03.pdf' %}">
            <span class="w3-tag w3-teal w3-round">Download CV as PDF <i class="fa fa-file-pdf-o"></i></span>
          </a>

          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Python</p>

          <p>Django</p>

          <p>Git version control</p>

          <p>HTML/CSS</p>

          <p>Microsoft Excel</p>

          
          <br>
          <hr>
          
          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>Armenian</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:85%"></div>
          </div>
          <p>Spanish</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:65%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-laptop fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Coding Experience: Projects</h2>
        <div class="w3-container">
          <a href="https://lilit.pythonanywhere.com/">
            <h5 class="w3-opacity"><b>hosting Python/Django website on lilit.pythonanywhere.com</b></h5>
          </a>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Combined the peacock and scaleup Django apps (see below) as two modules within a package, to be hosted on the pythonanywhere server, along with a landing page and my CV.
          </p>
          <p>View project live on <a href="https://lilit.pythonanywhere.com/">pythonanywhere</a> or see development on <a href="https://github.com/lilitmovsisyan/combo_pa_lilit">github</a>.</p>
          <hr>
        </div>
        <div class="w3-container">
          <a href="https://github.com/lilitmovsisyan/peacock">
            <h5 class="w3-opacity"><b>peacock</b></h5>
          </a>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019</h6>
          <p>Created a Python/Django web app with a relational database holding blog entries. Styled with Bootstrap and CSS. 
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <a href="https://github.com/lilitmovsisyan/scaleup">
            <h5 class="w3-opacity"><b>scaleup</b></h5>
          </a>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019</h6>
          <p>Turned the Python violin scale generator script into a Django web app. Styled with Bootstrap and CSS. 
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <a href="https://github.com/lilitmovsisyan/Steven_Universe_Lyrics">
            <h5 class="w3-opacity"><b>webscraping and Markov chain project</b></h5>
          </a>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018</h6>
          <p>Webscraper script (final project of codecademy.com's Learn Python course) that scrapes lyrics of all <i>Steven Universe</i> songs from the SU wiki. Then generates a 'new' song in the <i>Steven Universe</i> style using a Markov Chain algorithm.
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <a href="https://github.com/lilitmovsisyan/violin_scale_generator">
            <h5 class="w3-opacity"><b>violin scale generator</b></h5>
          </a>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018</h6>
          <p>Python script running a desktop application that randomly generates scales to help practise violin.
          </p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Employment</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Violin Tutor</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Private violin tutor for beginner-intermediate students, aged 5 years to adult.</p>
          <p>(Also tutoring a student in maths).</p>
          <p>Scroll down on this page for student reviews: 
            <a href="https://www.firsttutors.com/uk/music/teacher/lilit.violin.piano.music-theory/">FirstTutors - Lilit</a>
          </p>            
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Administrative Assistant | Brentside High School</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2017 - Aug 2018</h6>
          <p>Carried out duties as a receptionist and administrator as part of the office team at a busy inner-city school.
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Assistant Sourcing Manager, Group Operations | Lloyds Banking Group</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2017 - Aug 2018</h6>
          <p>Part of the Lloyds Scholars program. Assistant Sourcing Manager in <i>Group Operations</i> for 10-week paid internship. Upon completion of the internship, I was offered a position as Management Trainee on the Lloyds Banking Group Graduate Programme.
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>HR Manager, Group IT | Lloyds Banking Group</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
          <p>Part of the Lloyds Scholars program. HR Manager for <i>Group IT</i> for 10-week paid internship.</p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-mortar-board fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>codecademy.com and other online resources</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - pres.</h6>
          <p>Studying Python, Django, Git, HTML/CSS, SQL</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>University of Bristol</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012 - 2017</h6>
          <p>Master of Arts (MA), Philosphy, Distinction</p>
          <p>Bachelor of Arts (BA), Philosophy, First Class Honours</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Brentside High School and Sixth Form College</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2004 - 2012</h6>
          <p>A Levels: A* English Language and Literature; A Mathematics; A Physics; B Spanish</p>
          <p>GCSEs: 12 A*s including English, Mathematics and Sciences</p>
          <br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <a href="{% static 'lilit/CV_Lilit_Movsisyan_2019-03.pdf' %}">
    <p>Click here to download CV as PDF <i style="font-size:24px" class="fa">&#xf1c1;</i></p>
  </a>

  <p>Find me on social media:</p>
  <a href="https://www.instagram.com/lilit.momo/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/lilit-movsisyan-944bb95b/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <a href="https://www.facebook.com/lilit.anni"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>

  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
